# DIABETES

### Importing Pakages

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Displaying the raw data

df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Data sets\diabetes.csv")

df.head(10) # Displays the first 10 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [3]:
#df.drop(df[df["Pregnancies"] > 14].index,inplace=True)
#df.drop(df[df["Glucose"] < 50].index,inplace=True)
#df.drop(df[df["BloodPressure"] > 120].index,inplace=True)
#df.drop(df[df["SkinThickness"] > 80].index,inplace=True)
#df.drop(df[df["Insulin"] > 600].index,inplace=True)
#df.drop(df[df["BMI"] > 55].index,inplace=True)
#df.drop(df[df["DPF"] > 2].index,inplace=True)
#df.drop(df[df["Age"] > 70].index,inplace=True)

In [4]:
#df.head()

#### Giving the info about the data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

#### Displaying in the statistical form

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### Finding out the no.of Zero values in each column

In [7]:
featureList = ['Glucose', 'BloodPressure','SkinThickness','Insulin','BMI','Pregnancies']

print(df[featureList].isin({0}).sum()) # Using the isin() to find whether there are any zero values or not 
                                       # Using the .sum() to add the no.of zeros in the each column

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
Pregnancies      111
dtype: int64

### Task : #1 Cleaning the DATA

#### Performing the mean() for replacing the Zero(0) values in the SkinThickness Column

In [8]:
y = df["SkinThickness"].mean() # Using the mean() 

x = round(y,1)  # Range for the float value

# Replacing the 0 values
df["SkinThickness"] = df["SkinThickness"].replace(0,x)

# The first 5 rows will display
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0,33.6,0.627,50,1
1,1,85,66,29.0,0,26.6,0.351,31,0
2,8,183,64,20.5,0,23.3,0.672,32,1
3,1,89,66,23.0,94,28.1,0.167,21,0
4,0,137,40,35.0,168,43.1,2.288,33,1

####  Performing the median() on Blood Pressure Column to replace the 0 values

In [9]:
# Here we use median() because we are getting the normal value of the blood presure ('72')

y = df["BloodPressure"]. median()

x = round(y,0)  # Range for the float value

# Replacing the zero values 
df["BloodPressure"] = df["BloodPressure"].replace(0,x)

# Display the first 10 rows in the table
df.head(10)
# Here if we observe the value of the 7th row in blood pressure is changed

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0,33.6,0.627,50,1
1,1,85,66,29.0,0,26.6,0.351,31,0
2,8,183,64,20.5,0,23.3,0.672,32,1
3,1,89,66,23.0,94,28.1,0.167,21,0
4,0,137,40,35.0,168,43.1,2.288,33,1
5,5,116,74,20.5,0,25.6,0.201,30,0
6,3,78,50,32.0,88,31.0,0.248,26,1
7,10,115,72,20.5,0,35.3,0.134,29,0
8,2,197,70,45.0,543,30.5,0.158,53,1
9,8,125,96,20.5,0,0.0,0.232,54,1

#### Performing the mean on zero(0) values in Glucose Column

In [10]:
y = df['Glucose'].mean() # Using mean() to replace the zeros in the glucose

x = round(y,0) # The other way to change the float values into int 

df['Glucose'] = df['Glucose'].replace(0,x) # Replacing the zero values 
                                           # Here we can't use the fillna() because it's mainly used to replace the nullvalues not zeros

df.head() # Displays the first 5 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0,33.6,0.627,50,1
1,1,85,66,29.0,0,26.6,0.351,31,0
2,8,183,64,20.5,0,23.3,0.672,32,1
3,1,89,66,23.0,94,28.1,0.167,21,0
4,0,137,40,35.0,168,43.1,2.288,33,1

### Task : #2 Replacing the Outcome Column values on the base of Glucose Column

##### :Zero(0) represents  No Diabetic
##### :One(1) represents  Diabetic
##### :Two(2) represents  Prediabetic

In [11]:
df['Glucose'].dtype # To check whether the datatype is in int or not

dtype('int64')

In [12]:
# According to the google the person having Blood sugar level('Glucose') is more than 125 they are Diabetic , persons having Blood sugar level('Glucose') less than 99 they are normal
# and the person who is in the range between 99 and 125 they are considerd as prediabetic

df.loc[ df['Glucose'] >= 125,'Outcome'] = 1 # The Outcome value is changed to 1 if the glucose value is '>'(greater than) 125 

df.loc[ df['Glucose'] < 99,'Outcome'] = 0 # The Outcome value is changed to 0 if the glucose value is '<'(less than) 99

df.loc[(df['Glucose'] >= 99) & (df['Glucose'] < 125),'Outcome'] = 2 # The Outcome value is changed to 2 if the glucose value is '<'(less than) 125 and '>'(greater than) 99
# Note: In pandas we can't use the 'and' operater for comparing (we won't get the proper output) instead use the '&' Symbol 

df.head(10) # Displays the first 10 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0,33.6,0.627,50,1
1,1,85,66,29.0,0,26.6,0.351,31,0
2,8,183,64,20.5,0,23.3,0.672,32,1
3,1,89,66,23.0,94,28.1,0.167,21,0
4,0,137,40,35.0,168,43.1,2.288,33,1
5,5,116,74,20.5,0,25.6,0.201,30,2
6,3,78,50,32.0,88,31.0,0.248,26,0
7,10,115,72,20.5,0,35.3,0.134,29,2
8,2,197,70,45.0,543,30.5,0.158,53,1
9,8,125,96,20.5,0,0.0,0.232,54,1

In [13]:
# Here the values of the columns Glucose,Outcome and Insulin are displayed
df[['Glucose','Outcome','Insulin']].head(20) # The first 20 rows are printed

    Glucose  Outcome  Insulin
0       148        1        0
1        85        0        0
2       183        1        0
3        89        0       94
4       137        1      168
5       116        2        0
6        78        0       88
7       115        2        0
8       197        1      543
9       125        1        0
10      110        2        0
11      168        1        0
12      139        1        0
13      189        1      846
14      166        1      175
15      100        2        0
16      118        2      230
17      107        2        0
18      103        2       83
19      115        2       96

In [14]:
# Checking the correlation between the data after the changes in Glucose,Skin Thickness,Outcome
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.127957,0.208615,0.013103,-0.073535,0.017683,-0.033523,0.544341,0.031893
Glucose,0.127957,1.000000,0.218615,0.160594,0.331175,0.235149,0.137100,0.266591,0.181965
BloodPressure,0.208615,0.218615,1.000000,0.127580,-0.045769,0.234336,-0.002378,0.324915,0.026636
SkinThickness,0.013103,0.160594,0.127580,1.000000,0.287041,0.501041,0.155117,0.026022,0.040671
Insulin,-0.073535,0.331175,-0.045769,0.287041,1.000000,0.197859,0.185071,-0.042163,0.030197
BMI,0.017683,0.235149,0.234336,0.501041,0.197859,1.000000,0.140647,0.036242,0.022608
DiabetesPedigreeFunction,-0.033523,0.137100,-0.002378,0.155117,0.185071,0.140647,1.000000,0.033561,-0.023551
Age,0.544341,0.266591,0.324915,0.026022,-0.042163,0.036242,0.033561,1.000000,0.032305
Outcome,0.031893,0.181965,0.026636,0.040671,0.030197,0.022608,-0.023551,0.032305,1.000000

### Task : #3 Changing the Insulin values

In [15]:
df['Insulin'].dtype # Checking the DataType of the Insulin, if it is in the object then convert it into int

dtype('int64')

In [16]:
# Finding the mean for the Insulin column

# NOte: Here the Outcome is one which means Diabetic So,there is no use of Insulin for Normal and Prediabetic

df.loc[df['Outcome'] == 1, 'Insulin'] =  df['Insulin'].mean() # The Diabetic values are replaced with mean()

df.loc[df['Outcome'] == 0,'Insulin'] = 0 # Normal persons

df.loc[df['Outcome'] == 2,'Insulin'] = 0 # PreDiabetic Persons


df['Insulin'] = df['Insulin'].astype('int64') # Converting the float values into the integers
df.head(20)
# Displays the first 20 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,79,33.6,0.627,50,1
1,1,85,66,29.0,0,26.6,0.351,31,0
2,8,183,64,20.5,79,23.3,0.672,32,1
3,1,89,66,23.0,0,28.1,0.167,21,0
4,0,137,40,35.0,79,43.1,2.288,33,1
5,5,116,74,20.5,0,25.6,0.201,30,2
6,3,78,50,32.0,0,31.0,0.248,26,0
7,10,115,72,20.5,0,35.3,0.134,29,2
8,2,197,70,45.0,79,30.5,0.158,53,1
9,8,125,96,20.5,79,0.0,0.232,54,1
10,4,110,92,20.5,0,37.6,0.191,30,2
11,10,168,74,20.5,79,38.0,0.537,34,1
12,10,139,80,20.5,79,27.1,1.441,57,1
13,1,189,60,23.0,79,30.1,0.398,59,1
14,5,166,72,19.0,79,25.8,0.587,51,1
15,7,100,72,20.5,0,30.0,0.484,32,2
16,0,118,84,47.0,0,45.8,0.551,31,2
17,7,107,74,20.5,0,29.6,0.254,31,2
18,1,103,30,38.0,0,43.3,0.183,33,2
19,1,115,70,30.0,0,34.6,0.529,32,2

In [17]:
# Checking the correlation between the data after the changes in Glucose,Skin Thickness,Outcome,Insulin
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.127957,0.208615,0.013103,0.125395,0.017683,-0.033523,0.544341,0.031893
Glucose,0.127957,1.000000,0.218615,0.160594,0.816077,0.235149,0.137100,0.266591,0.181965
BloodPressure,0.208615,0.218615,1.000000,0.127580,0.233406,0.234336,-0.002378,0.324915,0.026636
SkinThickness,0.013103,0.160594,0.127580,1.000000,0.117659,0.501041,0.155117,0.026022,0.040671
Insulin,0.125395,0.816077,0.233406,0.117659,1.000000,0.200786,0.110411,0.257541,-0.151485
BMI,0.017683,0.235149,0.234336,0.501041,0.200786,1.000000,0.140647,0.036242,0.022608
DiabetesPedigreeFunction,-0.033523,0.137100,-0.002378,0.155117,0.110411,0.140647,1.000000,0.033561,-0.023551
Age,0.544341,0.266591,0.324915,0.026022,0.257541,0.036242,0.033561,1.000000,0.032305
Outcome,0.031893,0.181965,0.026636,0.040671,-0.151485,0.022608,-0.023551,0.032305,1.000000